@font-face {
  font-family: "ct-icon"; /* Project id 3184398 */
  src: url('iconfont.woff2?t=1701844899866') format('woff2'),
       url('iconfont.woff?t=1701844899866') format('woff'),
       url('iconfont.ttf?t=1701844899866') format('truetype'),
       url('iconfont.svg?t=1701844899866#ct-icon') format('svg');
}

.ct-icon {
  font-family: "ct-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ct-icon-clear:before {
  content: "\e645";
}

.ct-icon-search:before {
  content: "\e741";
}

.ct-icon-arrow-up:before {
  content: "\e9c2";
}

.ct-icon-xiaoxi:before {
  content: "\e62d";
}

.ct-icon-smile:before {
  content: "\e600";
}

.ct-icon-add:before {
  content: "\eb89";
}

.ct-icon-audio:before {
  content: "\e888";
}

.ct-icon-discover:before {
  content: "\e714";
}

.ct-icon-home:before {
  content: "\e751";
}

.ct-icon-subscribe:before {
  content: "\e63f";
}

.ct-icon-expand:before {
  content: "\e624";
}

.ct-icon-tip:before {
  content: "\e63a";
}

.ct-icon-yuyin:before {
  content: "\e687";
}

.ct-icon-setting:before {
  content: "\e8b8";
}

.ct-icon-headphone:before {
  content: "\ea10";
}

