@use '../mixins/bem.scss' as *;
@use '../mixins/function.scss' as *;
@use '../common/var.scss' as *;
@use '../mixins/_var' as *;

@include b(dropDownMenu) {
  position: relative;
  width: fit-content;
  @include e(wrapper) {
    margin: 0;
    list-style: none;
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translate(-50%,100%) scaleY(0);
    transform-origin: center top;
    opacity: 0;
    z-index: map-get($map: $z-index, $key: top);
    font-size: 16px;
    display: inline-flex;
    flex-direction: column;
    background: #fff;
    box-shadow:getCssVar('box-shadow','light');
    border-radius: 4px;
    overflow: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 0;
  }
}
