@use '../mixins/bem.scss' as *;
@use '../mixins/function.scss' as *;

@include b(menuItem) {
  height: getCssVar('menu-sub-item-height');
  line-height: getCssVar('menu-sub-item-height');
  list-style: none;
  color: initial;
  display: flex;
  padding: 0 20px;
  font-size: getCssVar('font-size-base');
  &:hover {
    background-color: getCssVar('menu-hover-bg-color');
  }
  @include e(title) {
    margin-right: auto;
  }
  .ct-icon + .ct-menuItem__title {
    margin-left: 8px
  }
}
