@use '../mixins/bem.scss' as *;
@use '../mixins/function.scss' as *;
@use '../mixins/_var' as *;
@use '../common/var' as *;


@include b(menu) {
  margin: 0;
  padding: 0;
  width: 280px;
  text-align: left;
  @include e(word) {
    color: getCssVar('text-color','primary')
  }
}
@include set-component-css-var('menu', $menu);

