@use '../mixins/bem.scss' as *;
@use '../mixins/function.scss' as *;

@include b(subMenu) {
  display: flex;
  list-style: none;
  padding-left: 20px;
  color: getCssVar('text-color-primary');
  height: getCssVar('menu-item-height');
  line-height: getCssVar('menu-item-height');
  transition: background-color .3s;
  &:hover {
    background-color: getCssVar('menu-hover-bg-color');
  }
  & [class^=ct-icon] {
    margin-right: 10px;
    &.ct-icon-arrow-up{
      transition: transform 0.5s ease;
      margin:0 0 0 auto;
    }
  }
  @include e(head) {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @include e(label) {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
  }
}


